.content{
    margin: auto !important;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.links{
    text-decoration: none !important;
    font-style: none !important;
    border: 2px solid;
    border-color: var(--color-Default);
    border-radius: .25rem;
}

.projectContent{
    width: 100%;
    min-height: 100vh;
}

.titleproject{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.titleContent{
    width: 100%;
    height: 100vh;
}

.cardContent{
    width: 100%;
    height: 100vh;
}

.cardContent{
    display: grid;
    grid-template-columns: 15vh repeat(2, 1fr) 5%;
    grid-template-rows: 10% repeat(2, 1fr) 8%;
    gap: 2%;
}

.cardImg{
    max-width: 100%;
    max-height: 80%;
    grid-column: 3;
    grid-row: 2;
}

.cardTitles{
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    grid-gap: 2%;
    gap: 2%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;

}

.cardButtons{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.cardDescription{
    text-align: left;
}

.cardReference{
    height: 80%;
    margin-top: 5%;
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
}

.contactContent{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 15vh 1fr;
    grid-template-rows: 8vh repeat(3, 1fr);
}
.contactTitle{
    grid-column: 2;
    grid-row: 2;
}
.contactData{
    grid-column: 2;
    grid-row: 3;
}
.contactBack{
    grid-column: 2;
    grid-row: 4;
}