.content{
    margin: auto !important;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.links{
    text-decoration: none !important;
    font-style: none !important;
    border: 2px solid;
    border-color: var(--color-Default);
    border-radius: .25rem;
}

.projectContent{
    width: 100%;
    min-height: 100vh;
}

.titleproject{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.titleContent{
    width: 100%;
    height: 100vh;
}

.cardContent{
    width: 100%;
    height: 100vh;
}

.cardContent{
    display: grid;
    grid-template-columns: 10% repeat(2, 1fr) 10%;
    grid-template-rows: 10% repeat(2, 1fr) 8%;
    gap: 2%;
}

.cardImg{
    grid-column: 3;
    grid-row: 2;
}

.cardTitles{
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    grid-gap: 2%;
    gap: 2%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;

}

.cardButtons{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.cardReference{
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}